<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
    <link rel="sortcut icon" href="/images/link.png" type="image/png" />;
    <link rel="stylesheet" href="css/index.css">]
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&family=Waiting+for+the+Sunrise&display=swap" rel="stylesheet">

    <style>
        ::-webkit-scrollbar-track {
            background-color: transparent;
        }
        ::-webkit-scrollbar {
            width: 3px;
            background: transparent;
        }

        ::-webkit-scrollbar-thumb {
            background:  transparent;
        }
    </style>

</head>
<body>
    <main>
        <aside class = 'cellSide-container'>
            <img src="/images/final.png" alt="">
        </aside>

        <aside class = 'textSide-container'> 
            <h1>Compartilhe o que quiser com o mundo!</h1>
            <p>Com url’s de forma totalmente personalizavel... O ceú é o limite.</p>
            <p>O nosso serviço é uma nova forma de se apresentar a todos de forma rápida e elegante com no máximo 6 links no plano Free.</p>
            <p>Use de forma profissional para se destacar entre todos e chamar atenção. Com nosso qr-code isso fica ainda mais rápido!</p>
            <p><strong>A hora de se destacar é agorta!</strong></p>
            <img src="/images/fast.svg" alt="">
            <div class = 'button-container'>
                <button id = 'registerBttn'>Registrar-se</button>
                <button id = 'loginBttn'>Login</button>
            </div>
        </aside>
    </main>
    <div class ='bgImg'></div>
    <div class ='bgImg2'></div>
</body>
</html>